<div class="container" id="project">

  <div class="row">

    <div class="col-md-8">

      <section class="bar background-white">

        <div class="container">
          {{ range $index, $element := sort .Site.Data.projects "weight" }}
          {{ if eq (mod $index 3) 0 }}
          <div class="col-md-12">
            <div class="row">
              {{ end }}
              <div class="col-md-4">
                <div class="box">

                  {{ if .url }}
                  <a href="{{ .url }}" target="_blank">
                    <img class="projects" src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                  </a>
                  {{ else }}
                  <img class="projects" src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                  {{ end }}

                  {{ if .url }}
                  <h3><a href="{{ .url }}">{{ $element.name }}</a></h3>
                  {{ else }}
                  <h3>{{ $element.name }}</h3>
                  {{ end }}

                  <p>{{ $element.description | markdownify }}</p>
                </div>
              </div>
              {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.features) 1 )) }}
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </section>

    </div>

  </div>

  {{ .Content }}

</div>
