<div class="container" id="project">

  <section class="bar background-white">
    {{ range $index, $element := sort .Site.Data.projects "weight" }}
    {{ if eq (mod $index 3) 0 }}
    <div class="row">
      {{ end }}
      <div class="col-md-4">
        <div class="box">

          {{ if .url }}
          <a href="{{ .url }}" target="_blank">
            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive projects zoomout" />
          </a>
          {{ else }}
          <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive projects zoomout" />
          {{ end }}

          {{ if .url }}
          <h3><a href="{{ .url }}">{{ $element.name }}</a></h3>
          {{ else }}
          <h3>{{ $element.name }}</h3>
          {{ end }}

          <p>{{ $element.description | markdownify }}</p>
        </div>
      </div>
      {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.projects) 1 )) }}
    </div>
    {{ end }}
    {{ end }}
  </section>

  {{ .Content }}

</div>
