#heading-breadcrumbs h1 {
    color: #ffffff;
    letter-spacing: 0em;
}

#heading-breadcrumbs {
    background: url('../img/pattern-pixels.png') center center repeat;
    /* background: #38a7bb; */
    /* background-color: var(--wz-color1); */
    /* background-position-x: 0%; */
    /* background-position-y: 0%; */
    /* background-repeat: repeat; */
    /* background-attachment: scroll; */
    /* background-image: none; */
    /* background-size: auto auto; */
    /* background-origin: padding-box; */
    /* background-clip: border-box; */
    /* opacity: 1; */
    padding: 1px 0;
    margin-bottom: 40px;
}

#footer {
    margin-top: 2em;
}

#course,
#teaching,
#project,
#talk {
    margin-bottom: 10em;
}

code {
    color: inherit;
}

i.off {
    color: #c0c0c0;
}

table.skills {
    margin-left: 0.5em;
}

table.skills td {
    padding: 0px 0.5ex;
}

/* ul.ul-edu i:hover, */
/* ol.upcomings > li:hover, */
/* table.skills td:nth-child(1):hover */
ul.ul-edu li:hover,
ul.ul-interests li:hover,
table.skills tr:hover {
    color: var(--wz-color1);
}

.ul-interests, .ul-edu {
    text-align: left;
}

/* ul.ul-edu li .description p.institution {
    font-size: 90%;
} */

.box {
    background: unset;
    border: unset;
}

p.institution {
    margin: -0.75em 0 10px;
}

.box-simple .icon,
.box-simple h3 {
    color: var(--wz-color6);
    border-color: var(--wz-color6);
}

.box-simple:hover .icon,
.box-simple:hover h3 {
    color: var(--wz-color1);
    border-color: var(--wz-color1);
}

.text-uppercase,
.box-simple h3,
.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading h5 {
    letter-spacing: 0em;
}

.navbar ul.nav > li > a {
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0em;
}

.nav-tabs {
    border-bottom: 1px solid #DDD;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: 1px solid #DDD;
    border-bottom-color: transparent;
}

.tab-content {
    border: unset;
}

/*---------------------------------------------------------------------- */

ul:not([class]) > li,
ul.ul-interests > li {
    list-style: none;
}

ul:not([class]) > li::before,
ul.ul-interests > li::before {
    content: '\25B8';
    margin-left: -1em;
    position: absolute;
    /* color: var(--wz-color1); */
}

/*---------------------------------------------------------------------- */

img.projects {
    height: 240px;
    max-width: 300px;
    display: block;
    margin: auto;
}

img.courses {
    max-width:100%;
    max-height:100%;
    display: block;
    margin: auto;
}

img.talks {
    max-width:100%;
    max-height:100%;
    display: block;
    margin: auto;
}

img:hover.shadow {
    -moz-box-shadow: 1px 1px 5px #999999;
    -webkit-box-shadow: 1px 1px 5px #999999;
    box-shadow: 1px 1px 5px #999999;
}

img:hover.zoomout {
    -webkit-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    -o-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
}
